
html {
    width: 100%;
    height: 100%;
}

body {
    /*border: 2px solid #ccccff;*/
    padding: 0;
    max-width: 1024px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana, DejaVu Sans, arial;
    font-size: 13px;
}

h1 {
    font-size: 32px;
    border-bottom: 1px solid #aaaaaa;
}

#sisalto, #sivupalkki {
    float: left;
    padding: 20px;
}

#sivupalkki {
	float: right;
    max-width: 200px;
    background: #ffffdd;
    margin-left: 10px;
    height: 100%;
    border: 1px solid #ddddaa;
	margin-bottom: 20px;
	width:100%;
}

#sisalto {
    max-width: 700px;
	width:100%;
}

#footer {
    border-top: 1px solid #aaaaaa;
    padding-top: 20px;
}

#linkkipalkki ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#linkkipalkki li, #linkkipalkki a {
    float: left;
}

#linkkipalkki a {
    padding-right: 20px;
}

#aanestyslaatikko {
    background: #ffeeee;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    margin-top: 25px;
	border: 1px solid #eeaaaa;
}

a {
	color: #3333FF;
	text-decoration: none;
}

a:hover {
	color: #000088;
	text-decoration: underline;
}

#aanestyslaatikko h2 {
    margin-left: 10px;
    font-size: 16px;
}

#aanestyslaatikko td {
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

input, textarea {
    border: 1px solid #888888;
    padding: 4px;
    background: #eeeeee;
}

#virhepalkki {
	color: red;
	font-weight: bolder;
	padding: 10px;
	background: rgb(255,230,230);
}

#aanestys_listassa {
	padding: 5px;
	padding-left: 20px;
	background: rgb(230,255,230);
	margin-bottom: 10px;
}

#vanhentunut_aanestys_listassa {
	padding: 5px;
	padding-left: 20px;
	background: rgb(255,230,230);
	margin-bottom: 10px;
}

#aanestyspalkki {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 10px;
}

table {
	width: 100%;
}

td {
	padding: 10px;
	padding-right: 20px;
}